.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(75px, auto);
    font-size: 48px;
    border: 1px solid;
    margin: 0 auto;
    width: 33%;
    vertical-align: middle;
}

.display{
    grid-column: 1 / 5;
    background-color: black;
    color: white;
    text-align: right;
}

#zero {
    grid-column: 1 / 3;
}

.btn {
    background-color: #eeeeee;
    border: 1px solid grey;
    text-align: center;
    vertical-align: middle;    
}

.operators {
    background-color: orange;
}